body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
  }
  
  .logo {
    font-size: 24px;
    cursor: pointer;
  }
  
  .hero {
    text-align: center;
    color: #334B49;
    height: 100vh;
    width: 100vw;
    align-content: center;
  }
  
  .hero1 {
    background-image: url('./assets/hero1.jpg');
    background-size: cover;
    background-position: center;
    color: white;
  }
  
  .hero2 {
    background-color:#c1d2d3;
    display: flex;
    justify-content:center;
    gap: 2rem;
  }
  
  .developer {
    color: black;
    background-color: #00C6BC;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 20rem;
    height: 30rem;
  }
  
  .developer img {
    width: 100%;
    border-radius: 50%;
  }
  
  .hero3 {
    background-image: url('hero3.jpg');
    background-size: cover;
    background-position: center;
    color: black;
  }
  
  .hero3 button {
    padding: 10px 20px;
    background-color: #1B857F;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .hero3 button:hover {
    background-color: #334B49;
  }
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
  }
  
  .close {
    cursor: pointer;
    float: right;
    font-size: 20px;
  }

