.Home{
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.bg{
    background-color: #13293D;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.padding{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #E8F1F2;
    width: 30%;
    height: auto;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}

.back-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: #13293D;
    cursor: pointer;
    padding-left: 2%;
    width: 100%;
}
    .back-button:hover {
        color: blue;
    }
    .back-button p {
        font-family: 'Montserrat';
        font-size: 90%;
        padding-left: 2%;
    }

.login-toggle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 100%;
    overflow: hidden; 
    flex-wrap: wrap;
    padding: 10px 0;
    box-sizing: border-box;
}
    .login-toggle button {
        background-color: #E8F1F2;
        flex: 1; 
        text-align: center;
        min-width: 30%;
        padding: 10px;
        border: none;
    }
    .login-toggle h2{
        background-color: #E8F1F2;
        border: none;
        font-size: 90%;
    }
    .toggle-button:hover {
        background-color: rgba(211, 211, 211, 0.5);
    }
    .toggle-button:active,
    .toggle-button:focus, .back-button:focus {
        outline: none;
    }
    .toggle-button.active {
        border-top: 4px solid blue;
    }

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    font-family: 'Montserrat';
    height: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0.6em;
    font-size: inherit;
    border-radius: 8px;
}

.password-container {
    align-self: center;
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
}

.password {
    font-family: 'Montserrat';
    width: 100%;
    height: 15%;
    padding: 0.6em;
    font-size: inherit;
    border-radius: 8px;
}

.eye-button {
    position: absolute;
    right: 1%;
    top: 55%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #13293D;
    padding: 5%;
}
    .eye-button:focus {
        outline: none;
    }

.ResetPassword {
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 1.2m;
}

.error {
    color: red;
    font-size: medium;
    margin-top: 20px;
}


@media screen and (max-width: 900px) {
    .Home{
        margin: 0;
    }
    .padding{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #E8F1F2;
        width: 50%;
        height: auto;
        border-radius: 15px;
    }
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .back-button {
        display: flex;
        width: 100%;
        align-items: center;
        background: none;
        border: none;
        color: #13293D;
        cursor: pointer;
        padding: 0;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    button{
        font-size: 0.5em;
    }

    .input{
        font-family: 'Montserrat';
        font-size: 0.5em;
        width: 70%;
        height: 50%;
        margin-top: 3%;
        margin-bottom: 3%;
        padding: 0.5em;
        border-radius: 8px;
    }
    
    .password-container {
        align-self: center;
        width: 70%;
        margin-bottom: 3%;
        height: fit-content;

    }
        .password {
            font-family: 'Montserrat';
            font-size: 0.5em;
            width: 100%;
            height: 15%;
            padding: 0.5em;
            border-radius: 8px;
        }
        .ResetPassword {
            color: #13293D;
            margin-top: 3%;
            font-size: 0.5em;
        }  

    .eye-button {
        position: absolute;
        right: 1%;
        top: 63%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        color: #13293D;
    }
        .eye-button:focus {
            outline: none;
        }
    .login-toggle h2{
        background-color: #E8F1F2;
        border: none;
        font-size: 1.1em;
    }
  }