.topnav {
    display: flex;
    width: 100vw;

    background-color: #13293D;
    margin: 0px;
}

.topnav h2{
    font-family: "Montserrat";
    font-size: 0.8rem;
    font-weight: 300;

    margin: 1em;
    
    width: fit-content;

    color: white;
    cursor: pointer;
}

.topnav h2:hover{
    color: #247BA0;
}

.topnav h3{
    font-family: "Montserrat";
    font-size: 0.8rem;
    font-weight: 300;

    margin: 1em;
    
    width: fit-content;

    color: white;
    cursor: pointer;;
}

.topnav a{
    font-family: "Montserrat";
    font-size: 0.8rem;
    font-weight: 300;

    margin-right: 1em;

    
    width: fit-content;

    color: white;
    cursor: pointer;
}

.topnav a:hover{
    color: #247BA0;
}

.nav-buttons button {
    margin-top: 0.4rem;
    margin-right: 1rem;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .nav-buttons button:hover {
    background-color: #1B857F;
  }

  .nav-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.nav-left{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.navlink-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #1B857F;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .navlink-button:hover {
    background-color: #334B49;
  }

  @media (max-width: 1024px) {
    .topnav{
        justify-items: space-between;
        align-content: space-around;
    }
    .nav-left{
        display: none;
    }

    .nav-right {
        display: flex;
        align-items: center;
        justify-content: end;
        margin: 0 1%;
        width: 100%; /* Ensure it takes the full width */
    }

    .nav-right h2{
        font-size: 0.9em;
        margin: 0 5px;
    }

    .nav-buttons {
        display: flex;
        justify-content: center; 
        width: 100%; 
      }

    .nav-buttons button{
        font-size: 1em;
        margin: 0px;
    }

    .box h2{
        font-size: 1.5em;
    }

    form{
        width: 100%;
    }
  }